.contactListItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 30px;
  transition: all 10sec ease-in-out;
}

.contactEdit {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  transition: all 10sec ease-in-out;
}